#login{
    background-color: #C5C9B8;
    width: 50%;
    height: 50%;
    color: #333333;
    text-align: center;
    margin: auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    padding-top: 40px;
    padding-bottom: 40px;
    /* ford3 */
}